body{
    text-align: center;
    /* background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
    background-repeat: no-repeat; */
}

.controlButton{
    margin-top: 10%;
}

#output{
    margin: auto;
    font-size: 3rem;
    border: none;
    width: 200px;
    padding: 10px;
    margin-bottom: 5%;
    background-color: rgba(255, 255, 255, 0.1);
    height: 50px;
    color: black;
    border-radius: 10px;
}


button{
    font-size: 1.5rem;
    padding: 1%;
    border: none;
    margin: 1%;
    margin-top: 5%;
    border-radius: 5px;
}

button:hover{
    background-color: blue;
    color: white;
}


